body {
    background: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
#title{
    text-align: center;
    background-color: rgb(0, 69, 148);
    color: white;
    padding: 7px;
    min-width: 900px;
    font-size: 1.75rem;
    font-weight: 600;
}
#root{
    margin: auto;
    width: 90%; 
    min-width: 900px;
}
#fullscreen{
    background: white;
    height: 90vh;
    width: 100%;
}
#controls{
    margin: auto;
    width: 100%;
}
.alignleft {
    float: left;
    width: 33%;
    min-width: 400px;
    text-align: left;
}
.aligncenter {
    float: left;
    width: 33.33333%;
    text-align: center;
}
.alignright {
    float: right;
    text-align: right;
}
#sequence{
    text-align: left;
    width: 100%;
    padding: 0px;
}
#visualization{
    width: 100%;
    background-color: white;
    padding: 0rem;
}
#treemapdiv{
    position: relative;
}
.fornac-nodeLabel {
   /* font-weight:0.5rem ; */
  fill:black;
  stroke-width: 0.005rem;
  font-size: 0.5em;
  /* font-weight: lighter; */
  font-family:'Times New Roman', Times, serif;
  color: rgb(14, 14, 14); 
  text-anchor: middle; 
  /* alignment-baseline: middle;  */
  dominant-baseline: central; 
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.infodiv{
    position: relative;
    width: 40px;
    height: 15px;
    text-align: center;
    padding: .1rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 0.8rem;
}
.help{
  text-align: center;
}
#timesvg {
    height: 110px;
}
.transcriplengthLine{
    stroke-width: 1;
    stroke: black;
    fill: none;
}
.currenttimeLine{
    stroke-width: 1;
    fill: none;
}
#timeinfo{
    text-align: center;
    width: 100%;
    margin: auto;
}
#datatable{
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    padding: 0rem;
}
