body {
    background: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
#title{
    text-align: center;
    background-color: rgb(0, 69, 148);
    color: white;
    padding: 7px;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.25rem;
}
#root{
    max-width: 2000px;
    min-width: 750px;
    margin: auto;
    width: 80%; 
}
#fullscreen{
    background: white;
    height: 100%;
    width: 100%;
    padding-bottom: 1rem;
}
.alignleft {
    float: left;
    width: 33.33333%;
    text-align: left;
}
.aligncenter {
    float: left;
    width: 33.33333%;
    text-align: center;
}
.alignright {
    float: left;
    width: 33.33333%;
    text-align: right;
}

#time{
  text-align: center;
  margin: auto;
  width: 30%;
  font-size: 1rem;
}
#ttime{
  margin: auto;
  width: 90%;
}

.seqform{
    max-width:1600px;
    height: 100%;
    display: flex; 
}
#sequence{
    text-align: left;
    height: 100%;
    width: 70%;  
    box-sizing: border-box; 
}


#visualization{
    height: auto;
    width: 100%;
    text-align: center;
    background-color: white;
    padding:0cm
}
#datatable{
    /*background: gray;*/
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}
#treemapdiv{
    width: 100%;
    height: 700px;
    position: relative;
}
#timesvg {
    height:110px
}
.transcriplengthLine{
    stroke-width:  1;
    stroke: black;
    fill: none;
}
.currenttimeLine{
    stroke-width: 1;
    /* stroke: color; */
    fill: none;
}
.fornac-nodeLabel {
   /* font-weight:0.5rem ; */
  fill:black;
  stroke-width: 0.005rem;
  font-size: 0.5em;
  /* font-weight: lighter; */
  font-family:'Times New Roman', Times, serif;
  color: rgb(14, 14, 14); 
  text-anchor: middle; 
  /* alignment-baseline: middle;  */
  dominant-baseline: central; 
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.infodiv{
    position: relative;
    width: 40px;
    height: 10px;
  
    text-align: center;
    padding: .1rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 0.6rem;
}

